{% extends "layout.twig" %}

{% block maincontent %}
	<div class="off-canvas-wrap docs-wrap" data-offcanvas="">
		<div class="inner-wrap"></div>
	</div>
{% endblock %}

{% block mainjquery %}
{% endblock %}