{% extends "layout.twig" %}

{% block maincontent %}
	<div class="off-canvas-wrap docs-wrap" data-offcanvas="">
		<div class="inner-wrap">
		{{table|raw}}
		</div>
	</div>
{% endblock %}

{% block mainjquery %}
	$('#save-btn').click(function(){
		$("#vertical-form-create").documentGenerator("_vertical",{metod:"register"});
	});
	
{% endblock %}